* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Trebuchet MS', Arial, sans-serif;

}

/* NAVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVV */

.cart-container {
    position: fixed;
    /* or 'absolute' depending on your layout */
    right: 20px;
    /* Adjust as needed */
    top: 10px;
    /* Adjust as needed */
    display: flex;
    align-items: center;
}

#filterButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#filterButton svg {
    width: 24px;
    /* Adjust as needed */
    height: 24px;
    /* Adjust as needed */
}


#cartButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#cartButton svg {
    width: 24px;
    /* Adjust as needed */
    height: 24px;
    /* Adjust as needed */
}

#cartCounter {
    margin-right: 10px;
    /* Space between the icon and the counter */
    /* Additional styling for the counter */
}

.cart-item {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 10px;
    /* Add more styling as needed */
}


/* CONTAINEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEER */
#svgButtonContainer {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    flex-wrap: wrap;
    /* Allows items to wrap in smaller screens */
    gap: 10px;
    /* Adds space between the buttons */
    margin-left: 10px;
    margin-right: 10px;

    /* Smooth animation */
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;

}

#svgButtonContainer.visible {
    max-height: 150px;
    /* Adjust as per the content size */
    transition: max-height 0.25s ease-in;
}

#svgButtonContainer.hidden {
    max-height: 0;
    transition: max-height 0.5s ease-out;
}



.svg-button {
    width: 100px;
    /* Adjust as needed */
    height: 100px;
    /* Adjust as needed */
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
    /* Smooth transition for hover effects */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Adds subtle shadow for depth */
}

.svg-button:hover {
    transform: scale(1.05);
    /* Slightly enlarges button on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    /* Increases shadow for 3D effect */
    background-color: #f8f9fa;
    /* Slightly changes background color */
}

.svg-button svg {
    width: 50%;
    /* Adjust as needed */
    height: 50%;
    /* Adjust as needed */
    fill: #333333;
}

.svg-button span {
    margin-top: 10px;
    /* Adds space between icon and text */
    font-size: 0.9em;
    /* Adjust text size as needed */
    color: #333333;
    /* Text color */
}



/* Tablet (devices up to 768px wide) */
@media (max-width: 768px) {
    .svg-button {
        width: 80px;
        /* Smaller size for tablets */
        height: 80px;
    }

    .svg-button span {
        display: none;
        /* Hide text on tablets */
    }

    .svg-icon {
        height: 2em;
    }

    .description-column {
        display: none;
        /* Hide description column on tablets */
    }

    .desc-cell {
        display: none;
        /* Hide description column on tablets */
    }

    .title-cell {
        font-size: 16pt;
    }

    tr {
        line-height: 60px;

    }

    .dwn-btn {
        height: 50px;
        width: 50px;
        /* Hide the down button on phones */
    }

    .cart-btn {
        height: 50px;
        width: 50px;
    }

    #cartButton svg {
        width: 36px;
        /* Adjust as needed */
        height: 36px;
        /* Adjust as needed */
    }

    #cartCounter {
        margin-right: 10px;

        font-size: 14pt;
        text-align: center;
    }

    .check-box {
        height: 20px;
        width: 20px;
    }
}

/* Phone (devices up to 480px wide) */
@media (max-width: 480px) {
    .svg-button {
        width: 60px;
        /* Even smaller size for phones */
        height: 60px;
    }

    .title-cell {
        width: 10px;
        /* Adjust this value as needed */
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dwn-btn {
        display: none;
        /* Hide the down button on phones */
    }

    table {
        width: 100%;
        border-collapse: collapse;
        font-size: 30px;
    }
}


/* TABLEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE */


.svg-icon {
    display: inline-block;
    vertical-align: middle;
    /* width: 1em;
    height: 1em; */
    fill: #ffffff;


}


main {
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    /* table-layout: fixed; */


}

th,
td {
    /* border: 1px solid #ddd !important; */
    padding: 8px;
    text-align: left;


}

table tr {
    border-bottom: 1px solid #ddd;
}

/* Style for  header */
table th {
    background-color: #dedede;
    /* Dark background for header cells */

}

/* Style for table rows */
table tr:hover {
    background-color: #f2f2f2;
    /* Light grey background on hover */
}

/* Style for table cells */
table td:hover {
    background-color: #f2f2f2;
    /* Light grey background on hover */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

#info-container {
    padding: 20px;
}



@keyframes pulseAnimation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
        /* Increase the size */
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulseAnimation 0.2s;
    /* Adjust time as needed */
}